body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #AED1D6;
}

#map {
  height: 500px;
  width: 500px;
  border: 3px solid #E09873;
  border-radius: 5px;
}

#logo {
  width: 350px;
  padding: 10px;
  display: block;
   margin-left: auto;
   margin-right: auto
}

input {
  width: 300px;
  margin: 10px;
}

.right {
  width: 500px;
}

.list {
  height: 500px;
  margin: 0;
  padding: 0;
  border: 3px solid #E09873;
  border-radius: 5px;
  background-color: white;
  overflow: auto;
  text-align: center;
}

.results {
  text-align: center;
  font-size: 30px;
  height: 40px;
  line-height: 60px;
  color: #314570;
}

.instructions {
  text-align: center;
  font-size: 16px;
  height: 20px;
  color: #314570;
  padding-top: 5px;
  padding-bottom: 15px;
}

main {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 1020px;
}

.search {
  height: 80px;
  display: flex;
  justify-content: center;
}

#enter {
  width: 30px;
  height: 30px;
  padding-top: 15px;
  cursor: pointer;
}

#input {
  height: 30px;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
  font-weight: 300;
  padding: 5px;
  color: #314570;
}

.place {
  font-size: 24px;
  padding: 10px;
}

.entry {
  color: #314570;
}

.entry:hover {
  background-color: #7584ad;
  color: white;
  cursor: pointer;
}

.rating {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#placeholder {
  width: 150px;
  height: 150px;
  opacity: 1;
  margin-top: 120px;
}

#github {
  cursor: pointer;
  width: 35px;
  height: 35px;
  position: fixed;
  float: right;
  padding: 10px;
}
